<div class="progress">
  <% questions_count = @passing_test.test.questions.count %>
  <% current_question_number = @passing_test.current_question ? @passing_test.current_question_number : questions_count + 1 %>
  <%= content_tag :div,
                  '',
                  class: 'progress-bar bg-success',
                  role: 'progressbar',
                  data: { questions_count: questions_count,
                          current_question_number: current_question_number } %>
</div>
