<h1 class="<%= set_result_color(@passing_test) %>">
  <%= t('.header', title: @passing_test.test.title) %>
   <%= show_result_message(@passing_test)%></h1>

<h2> <%= link_to t('.back'), tests_path %></h2>
