<p>
  <%= this_year %> год - Tamchenko  Sergey
</p>
 <p>
  <%= github_link("spartakusQ", "Rails-First-App") %> Учебная платформа для тестирования.
</p>
 <p>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :blank %>
</p>


