<p>
  <%= this_year %> год - Tamchenko  Sergey
</p>
 <p>
  <%= github_link("spartakusQ", "Rails-First-App") %> Learning platform for testing.
</p>
 <p>
  <%= link_to "Educational project in an online-school Thinknetica", "https://thinknetica.com", target: :blank %>
</p>
